# ── Data Folders ──────────────────────
data/


# ── Jupyter ───────────────────────────
.ipynb_checkpoints/

# ── Power BI ──────────────────────────
*.pbix

# ── OS Files ──────────────────────────
.DS_Store
Thumbs.db